div
{
    width: 220px;
    height: 220px;
}

*
{
    margin: 0;
}

#contenedor
{
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#skyblue
{
    background-color: #5BBCFF;
}

#lightgreen
{
    background-color: #FFFAB7;
}

#gray
{
    background-color: #FFD1E3;
}

#pink
{
    background-color: violet;
}

#violet
{
    background-color: #7EA1FF;
}